{% load static %}
<!DOCTYPE html><html><head><meta charset="utf-8"/>
  <title>NeuronFood</title>
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <!-- Site Metas -->
  <meta name="keywords" content=""/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>

  

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css'%}"/>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>

  <!-- fonts style -->
  <link href="{% static 'https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&amp;display=swap' %}" rel="stylesheet"/>
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css'%}" rel="stylesheet"/>
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet"/>

</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
              <a class="navbar-brand" href="index.html">
                  <img class="logo" src="{% static 'images/LOGOV3.png' %}" alt="\tuff logo">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex  flex-column flex-lg-row align-items-center">
                  <ul class="navbar-nav  ">
                    <li class="nav-item active">
                      <a class="nav-link" href="index.html">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="contact.html">Inscription</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="contact.html">Connexion</a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                  </form>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section ">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-lg-5 col-md-6">
                  <div class="slider_detail-box">
                    <h1>
                      Pour une meilleure visibilité sur le gaspillage alimentaire
                    </h1>
                    <p>
                      Grâce à la puissance de nos algorithmes, nous nous chargeons de prédire votre surproduction afin de la valoriser auprès de vos collecteurs alimentaires locaux.
                    </p>
                    <div class="btn-box" >
                      <a href="contact.html" class="btn-1" >
                        En savoir plus
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="slider_img-box">
                    <img src="{% static 'images/slider-img.png' %}" alt=""/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <div class="slider_img-box">
                    <img src="{% static 'images/slider-img.png' %}" alt=""/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">

                <div class="col-md-6">
                  <div class="slider_img-box">
                    <img src="{% static 'images/slider-img.png' %}" alt=""/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel_btn-container">
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- welcome section -->
  <section class="welcome_section layout_padding">
    <div class="container">
      <div class="custom_heading-container">
        <h2>
          Bienvenue chez NeuronFood !
        </h2>
      </div>
      <div class="layout_padding2">
        <div class="img-box">
          <img src="{% static 'images/LOGOV3.png' %}" alt=""/>
        </div>
        <div class="detail-box">
          <p>
            Aujourd'hui, 3 millions de français sont en situation d'insécurité alimentaire.
            Les collecteurs manquent de visibilité sur leur communication avec les producteurs alimentaires.
            Nous visons à gagner 3 heures sur la visibilité des collecteurs pour qu'ils puissent enfin nourrir correctement des personnes dans le besoin.
          </p>
          <div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- end welcome section -->

  <!-- service section -->

  <section class="service_section">
    <div class="container">
      <div class="custom_heading-container">
        <h2>
          Nos services
        </h2>
      </div>
      <div class="service_container layout_padding2">
        <div class="service_box">
          <div class="img-box">
            <img src="{% static 'images/pietro-jeng-n6B49lTx7NM-unsplash.jpg' %}" alt=""/>
          </div>
          <div class="detail-box">
            <h4>
              Prédire votre surproduction
            </h4>
          </div>
        </div>
        <div class="service_box">
          <div class="img-box">
            <img src="{% static 'images/arlington-research-kN_kViDchA0-unsplash.jpg' %}" alt=""/>
          </div>
          <div class="detail-box">
            <h4>
              Prévenir les collecteurs alimentaires
            </h4>
          </div>
        </div>
        <div class="service_box">
          <div class="img-box">
            <img src="{% static 'images/aaron-doucett-liOAS02GnfY-unsplash.jpg' %}" alt=""/>
          </div>
          <div class="detail-box">
            <h4>
              Améliorer votre gestion de production alimentaire
            </h4>
          </div>
        </div>
      </div>
      <div>
      </div>
    </div>
  </section>

  <!-- end service section -->

  <!--problem section -->
  <!-- end problem section -->

  </div>

  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>

</body></html>